<% if !user_signed_in? %>
  <style>
    body {
      background: url("indexbg.jpg") no-repeat center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    h1 {
      color: white;
      font-weight: bold;
    }
    .landing {
      margin-right: 15%;
      margin-left: 15%;
    }
    .text {
      color: white;
      font-weight: 300;
      font-size: 150%;
    }
    .footer {
      text-align: left;
      color: white;
      margin-top: 30%;
      font-size: 14px;
      margin-right: 50%;
    }
  </style>

  <div class="landing">
      <div class="col-sm-6">
        <h1> Welcome to WWMD </h1>
          <br>
          <br>
        <p class="text">
          What Would Miriam DO?! <br>
          An exclusive place for those seeking wisedom <br>
          A place where you can express yourself <br>
          A place to say anything and everything you want. <br>
          Welcome to my world!
        </p>
      </div>

       <div class="col-sm-12">
    <p class="footer">
      About Blog Jobs Media Developer  &copy;WWMD
    </p>
    </div>
  </div>

<% else %>
  <script> document.location = '/home' </script>

<% end %>
